/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f5ae9b;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 7px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* app styles */
.app {
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.space-between div span {
  font-weight: bold;
}

/* Expense Form styles */
.expense-form {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.expense-form form .fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.expense-form .fields label {
  margin-bottom: 5px;
  color: #333;
}

.expense-form .fields label span {
  color: red;
}

.expense-form .fields input[type="text"],
.expense-form .fields input[type="number"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.expense-form .fields p {
  font-size: 12px;
  color: red;
}

/* Filter styles */

/* .filter input[type="text"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
} */

/* Container styling */
.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

/* Input styling */
.filter input[type="text"] {
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filter input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Label styling */
.filter div {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.filter div label {
  font-size: 14px;
  padding: 4px;
}

/* Select dropdown styling */
.filter div select {
  padding: 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filter div select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Option styling */
.filter div select option {
  padding: 4px;
  font-size: 14px;
}

/* Expense List styles */
.expense-list {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.expenses h2 {
  margin-bottom: 10px;
  color: #555;
}

.expense-list ul {
  list-style-type: none;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.expense-item:last-child {
  border-bottom: none;
}

.expense-item .description {
  color: #333;
}

.expense-item .amount {
  color: #007bff;
  font-weight: bold;
}
