/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 7px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* app styles */
.app {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Expense Form styles */
.expense-form {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.expense-form form {
  display: flex;
  flex-direction: column;
}

.expense-form label {
  margin-bottom: 5px;
  color: #333;
}

.expense-form input[type="text"],
.expense-form input[type="number"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Filter styles */
.filter {
  margin-bottom: 20px;
}

.filter input[type="text"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

/* Expense List styles */
.expense-list {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.expense-list h2 {
  margin-bottom: 10px;
  color: #555;
}

.expense-list ul {
  list-style-type: none;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.expense-item:last-child {
  border-bottom: none;
}

.expense-item .description {
  flex-grow: 1;
  color: #333;
}

.expense-item .amount {
  color: #007bff;
  font-weight: bold;
}
